<h1 class="content_title">Friend requests</h1>

<div class="blue_block_without_corner">
  <div class="title">requests</div>
  <div class="content">
    <div class="list">
      <%= render :partial => "recieved_request", :collection => current_user.reciever_friends_requests, :spacer_template => 'shared/application/list_spacer' %>
    </div>
  </div>
</div>
