#form_gallery label
{
    display:inline-block;
}


#form_gallery input[type="text"]
{
    width:300px;
    margin:0px
}

#form_gallery select
{
    width:200px;
    height:20px;
}

#form_gallery textarea
{
    height:50px;
    width:100%;
    margin:0px;
}

#form_gallery div.name,
#form_gallery div.keywords
{
    margin-right:30px;
    margin-bottom:10px;
}
#form_gallery div.keywords > label
{
    display:block;
    float:left;
}
#form_gallery div.keywords .keywords_list
{
    float:right;
    width:560px;
}
#form_gallery div.keywords .keywords_list div.keyword
{
    float:left;
}
#form_gallery div.keywords .keywords_list div.keyword label
{
    min-width:inherit;
    margin-right:20px;
}


#form_gallery div.description
{
    
}
#form_gallery div.description label
{
    vertical-align:top;
}