#menu_top
{
    height:30px;
    border:2px solid #5a5a5a;
    background:url(/images/design/application/menu_top/background.png) repeat-x;
    margin-bottom: 20px;
}

#menu_top div.item
{
    text-align:center;
    font-weight:bolder;
    height:30px;
    line-height:30px;
    font-size:18px;
    float:left;
    width:20%;
    color:#005a58;
    text-transform:capitalize;
}

#menu_top div.item a
{
    display:block;
    height:30px;
    line-height:30px;
    float:left;
    width:100%;
    color:#005a58;
    text-decoration:none;
}

#menu_top div.item a:hover
{
    color:#ffffff;
    background:#5a5a5a;
}