<div class="sorts">
  <div class="title"><%= I18n.translate("filters.sort_by") %> :</div>
  <%= sort_link search, :Price, I18n.translate("filters.price") %>
  <%= sort_link search, :Surface, I18n.translate("filters.surface") %>
  <%= sort_link search, :Rooms, I18n.translate("filters.rooms") %>
</div>