<div class="white_block_without_corner">
  <div class="title">Nouveau dossier</div>
  <div class="content"><%= render :partial => "users/folders/create_folder" %></div>
</div>
<% @folders.each do |folder| %>
  <%= render :partial => "users/folders/folder", :locals => {:folder => folder, :color => cycle("blue", "pink", "white")} %>
<% end %>