<div class="<%= cycle("pink", "white", "blue") %>_block_without_corner">
  <div class="title">
    <%= comment.from_user.pseudo %>
  </div>
  <div class="content">
    <%= comment.message %>
  </div>
</div>
