<div class="white_block_without_corner">
  <div class="title"><%= @gallery.name %> by <%= link_to @gallery.user.pseudo, @gallery.user %></div>
  <div class="content">
    <%= @gallery.description.size > 0 ? @gallery.description : "Pas de description" %>
  </div>
</div>

<% @drawings.each do |d| %>
  <div style="width:170px;height:170px;line-height:170px;float:left;text-align:center;">
    <%= image_tag d.url(:small), :style => "border:2px solid #ffffff;display:inline-block;" %>
  </div>
<% end %>

<div id="clear_float"></div>