<div id="menu_top">
  <div class="item"><%= link_to "accueil", root_path %></div>
  <div class="item">Cours</div>
  <div class="item"><%= link_to "gallerie", galleries_path %></div>
  <div class="item"><%= link_to "membres", users_path %></div>
  <div class="item">Forum</div>
</div>