body
{
    background:#ffffff url(/images/design/application/background.png) repeat-x;
    margin:0px;
    color:#ffffff;
    font-family:Arial, Tahoma, sans-serif;
    font-size:16px;
}

#application
{
    width:1000px;
    margin:auto;
    background:#053232;
    padding:10px 20px;
}

#clear_float
{
    clear:both;
}

#notice
{
    border:2px solid green;
    color:#ffffff;
    background:greenyellow;
}

#alert
{
    border:2px solid red;
    color:#ffffff;
    background:rosybrown;
}

div.field_with_errors
{
    display:inline-block;
}

form.button_to {
    display:inline;
}
form.button_to div {
    display:inline;
}
form.button_to input.button_to {
    background:none;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-family:Arial, Tahoma, sans-serif;
    padding:0px;
}